@font-face {
  font-family: "Janna LT";
  src: url("./fonts/Janna LT Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Future Now";
  src: url("./fonts/FuturaNowHeadline.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --main-color: #193a51;
}
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px var(--main-color);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 2px;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Jenna LT";
}
a {
  text-decoration: none;
}
a:hover {
  color: #fff;
}
